# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
spec/dummy/log/*.log
/spec/dummy/tmp/*
/spec/dummy/tmp/storage/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep
pkg/
spec/dummy/storage/*
spec/dummy/db/dump/*.sql
spec/dummy/db/dump/*.bz2
/public/assets
/coverage/*
# Include the anonymized test DB dump to ease pipeline setup:
!spec/dummy/db/dump/test.sql.bz2

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
/node_modules
/yarn-error.log
node_modules/

# Ignore editors settings
.vscode/*

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
/config/initializers/secret_token.rb

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/*.key
/config/database.yml
spec/dummy/config/database.yml
send_coverage.sh

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json
